.my-tasks-container {

  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .task-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    border-radius: 0.5rem;
 
  }
}
