<div class="stats-card">
  <div class="card-header">
    <span class="title">{{title}}</span>
    <img *ngIf="icon" [src]="'assets/' + icon" alt="icon" class="card-icon">
  </div>
  <div class="card-content">
    <ng-container>
      <app-progress-bar-circular [percentage]="displayedPercentage"></app-progress-bar-circular>
      <div class="counts">
        <div class="active">
          <span class="label">Active</span>
          <span class="value">{{displayedActiveCount}}</span>
        </div>
        <div class="total">
          <span class="label">Total</span>
          <span class="value">{{displayedTotalCount}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>