<nav>
  <div class="nav-content">
    <div class="welcome-text">{{ getWelcomeText() }}</div>
    
    <div class="nav-buttons">
      <button class="nav-button dashboard" [class.highlighted]="isHighlighted('dashboard')" (click)="setActiveTab('dashboard')">Dashboard</button>
      <button class="nav-button projects" [class.highlighted]="isHighlighted('projects')" (click)="setActiveTab('projects')">Projects</button>
    </div>

    <div class="nav-icons">
      <img src="assets/bell_icon.png" alt="Notifications" class="notification-icon" (click)="navigateToUnderConstruction()">
      <img [src]="profilePicUrl" alt="Profile" class="profile-icon" (click)="navigateToProfile()">
    </div>
  </div>
</nav>
