<div class="chart-container">
  <div class="header-section">
    <h2>Team Members Progress</h2>
    <div class="team-selector">
      <select [(ngModel)]="selectedTeamId" (change)="onTeamChange($event)">
        <option *ngFor="let team of teams" [value]="team.id">
          {{ team.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="scrollable-wrapper">
    <div class="chart-area">
      <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="chartData"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTicks]="xAxisTicks"
        [showGridLines]="showGridLines"
        [xAxisTickFormatting]="xAxisTickFormatting"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        (select)="onSelect($event)">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>