<div class="container" [class.right-panel-active]="isRightPanelActive">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <!-- <div class="social-container">
        <a href="#" class="social">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#" class="social">
          <i class="fab fa-google"></i>
        </a>
        <a href="#" class="social">
          <i class="fab fa-linkedin"></i>
        </a>
      </div> -->
      <!-- <span>or use your email for registration</span> -->
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onLogin()">
      <h1>Sign in</h1>
      <!-- <div class="social-container">
        <a href="#" class="social">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#" class="social">
          <i class="fab fa-google"></i>
        </a>
        <a href="#" class="social">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <span>or use your account</span> -->
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="loginEmail"
        name="email"
        #usernameInput
        (keydown.enter)="focusPassword($event)" />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="loginPassword"
        name="password"
        #passwordInput/>
      <span class="error-message" *ngIf="errorMessage">{{ errorMessage }}</span>
      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Join AlignOKR Today!</h1>
        <p>Set clear objectives. Drive results with confidence.</p>
        <button class="ghost" (click)="onSignInClick()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Welcome to AlignOKR!</h1>
        <p>Streamline your goals. Achieve more, together.</p>
        <button class="ghost" (click)="onSignUpClick()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
