<div class="team-card">
  <h2>Teams</h2>
  <div class="team-list">
    <ng-container *ngIf="isLoading; else loadedContent">
      <div class="team-member" *ngFor="let team of placeholderTeams">
        <img src="assets/pic1.png" alt="Loading..." class="member-avatar loading-avatar">
        <div class="member-info">
          <div class="name loading-text">Loading...</div>
          <div class="role loading-text">Loading...</div>
        </div>
      </div>
    </ng-container>
    
    <ng-template #loadedContent>
      <div class="team-member" *ngFor="let team of teamDetails">
        <img [src]="team.teamLeaderProfile || 'assets/pic1.png'" alt="Team member" class="member-avatar">
        <div class="member-info">
          <div class="name">{{team.teamName}}</div>
          <div class="role">{{team.teamLeaderName}}</div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
