<!-- objective-performance.component.html -->
<div class="chart-card">
  <h2>Objective Performance</h2>
  <div class="chart-container">
    <div class="chart-area" *ngIf="!errorMessage; else errorTemplate">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="defaultColors"
        [results]="barChartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [barPadding]="barPadding"
        [roundDomains]="roundDomains"
        [animations]="animations"
        [showGridLines]="true"
        [yScaleMin]="0"
        [tooltipDisabled]="false"
        [showDataLabel]="true"
        [dataLabelFormatting]="yAxisTickFormatting"
        [barWidth]="40"
        [trimXAxisTicks]="false"
        [rotateXAxisTicks]="false"
        [maxXAxisTickLength]="16"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    <ng-template #errorTemplate>
      <div class="error-message">{{ errorMessage }}</div>
    </ng-template>
  </div>
</div> 