.project-page-container {
  display: flex;
  height: 100%;
  background-color: #F9FAFB;
  width: 100%;

  .content {
    flex: 1;
    overflow-y: auto;
    padding: 0 1.5rem;
    width: 100%;
    
  }
}
